@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 44%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
  }
}


body {
  scroll-behavior: smooth;
}

.navLink {
  @apply relative tracking-[.5px];
}

.navLink::after {
  @apply content-[''] bg-black dark:bg-white h-[2px] w-[0%] left-0 -bottom-[5px] rounded-xl absolute duration-300;
}

.navLink:hover::after {
  @apply w-[100%];
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #000000;
}


/* gradient bk */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.moving-gradient {
  background: linear-gradient(270deg, #6ee7b7, #3b82f6, #9333ea, #f43f5e);
  background-size: 400% 400%;
  animation: gradient-animation 10s ease infinite;
}

/* ai chatbot */
/* globals.css */
.ai-report h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: #1a365d; /* Tailwind's blue-900 */
}

.ai-report ul {
  list-style-type: disc;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.ai-report li {
  margin-bottom: 0.5rem;
  color: #4a5568; /* Tailwind's gray-700 */
}

.ai-report strong {
  font-weight: bold;
  color: #2d3748; /* Tailwind's gray-800 */
}